body {
    background-color: whitesmoke;
}

.navbar {
    border-bottom: solid 1px grey;
    background-color: lightblue !important;
}

.content {
    padding: 0 20px;
}

#warhammer {
    max-height: 300px;
}
