body {
    background-color: whitesmoke;
}

.navbar {
    background-color: lightblue !important;
}

.content {
    background-color: white;
    margin: 20px;
    padding: 20px;
    width: 80%;
    border: solid 1px lightgrey;
}

#warhammer {
    max-height: 250px;
    margin: 0 10px 10px 0;
}
